@model BarBeeOrder.Models.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Quản lí trang</a>
            <span class="breadcrumb-item active">Xóa trang</span>
        </nav>
    </div>
</div>
<h3>Bạn chắc chắn muốn xóa trang này?</h3>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.PageId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.PageName</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Tittle</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreatedDate</td>
                    </tr>
                    <tr>
                        <td>Xóa trang</td>
                        <td>
                            <form asp-controller="AdminPages" asp-action="Delete" asp-route-id="@Model.PageId">
                                <input type="hidden" asp-for="PageId" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
