@model BarBeeOrder.Models.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Quản lí trang</a>
            <span class="breadcrumb-item active">Chi tiết trang</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.PageId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.PageName</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Tittle</td>
                    </tr>
                    <tr>
                        <td>Thứ tự:</td>
                        <td>@Model.Ordering</td>
                    </tr>
                    <tr>
                        <td>Hoạt động:</td>
                        <td>
                            @if (Model.Published!=null && Model.Published==true)
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" id="switch-4" disabled="" checked="">
                                        <label for="switch-4"></label>
                                    </div>
                                    
                                </div>
                            }
                            else
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" id="switch-4" disabled="">
                                        <label for="switch-4"></label>
                                    </div>
                                    
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreatedDate</td>
                    </tr>
                    <tr>
                        <td>Nội dung:</td>
                        <td>@Html.Raw(Model.PageContent)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
