@model List<BarBeeOrder.Models.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Quản lí trang</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-b-10">
                            <i class="prefix-icon anticon anticon-search"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm trang">
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="d-md-flex">
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminPages" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Tạo trang</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Trang</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.PageId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.PageName</h6>
                                    </div>
                                </td>
                                <td>
                                    @if (item.Published)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Hoạt động</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Không hoạt động</div>
                                        </div>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-success  btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPages" asp-action="Details" asp-route-id="@item.PageId">Chi tiết</a>
                                    <a class="btn btn-primary  btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit" asp-route-id="@item.PageId">Sửa</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPages" asp-action="Delete" asp-route-id="@item.PageId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            $("#keyword").keyup( async function(){
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: "/Admin/Search/FindPage?keyword="+strkeyword,
                    type: "Get",
                    async: true,
                    success: function(respone){
                        console.log(respone);
                        $('#records_table').html("");
                        $('#records_table').html(respone);
                    },
                    error: function(xhr){
                        alert("loi " + xhr.status);
                    }
                });
            });
        });
</script>
}
