@model List<BarBeeOrder.Models.Order>
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Order> monthOrders = ViewBag.MonthOrders;
    List<Order> yearOrders = ViewBag.YearOrders;
    int orderInMonths = monthOrders.Count();
    int orderInYears = yearOrders.Count();
    int totalInMonths = 0;
    int totalInYears = 0;
    foreach(var item in monthOrders)
    {
        totalInMonths += item.TotalMoney;
    }
    foreach(var item in yearOrders)
    {
        totalInYears += item.TotalMoney;
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng tiền bán trong tháng</p>
                                <h2 class="m-b-0">@totalInMonths.ToString("#,##0")VND</h2>
                            </div>

                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-primary" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng tiền bán trong năm</p>
                                <h2 class="m-b-0">@totalInYears.ToString("#,##0")VND</h2>
                            </div>
                        </div>
                        <div class="m-t-40">
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-success" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng đơn hàng trong tháng</p>
                                <h2 class="m-b-0">@orderInMonths</h2>
                            </div>

                        </div>
                        <div class="m-t-40">
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-warning" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng đơn hàng trong năm</p>
                                <h2 class="m-b-0">@orderInYears</h2>
                            </div>
                        </div>
                        <div class="m-t-40">

                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-secondary" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
</div>
<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Đơn hàng gần đây</h5>
                    <div>
                        <a asp-action="Index" asp-area="admin" asp-controller="AdminOrders" class="btn btn-sm btn-default">Xem tất cả</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày đặt</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>#@item.OrderId</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        
                                                        <h6 class="m-l-10 m-b-0">@item.Customer.Fullname</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.TotalMoney.ToString("#,##0")VND</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    
                                                    <span>@item.TransactionStatus.Status</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>
@section Scripts{
<script>

    import themeColors from '../constant/theme-constant.js	'
    class DashboardECommerce{
         static init() {

        const salesChart = document.getElementById("sales-chart");
        const salesChartCtx = salesChart.getContext('2d');
        salesChart.height = 120;
        const salesChartConfig = new Chart(salesChartCtx, {
            type: 'bar',
            data: {
            labels: [ 'madddd', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
            datasets: [{
                label: 'Online',
                backgroundColor: themeColors.blue,
                borderWidth: 0,
                data: [ 20, 30, 35, 45, 55, 45]
            },
            {
                label: 'Offline',
                backgroundColor: themeColors.blueLight,
                borderWidth: 0,
                data: [ 25, 35, 40, 50, 60, 50]
                }]
            },
            options: {
                scaleShowVerticalLines: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        categoryPercentage: 0.35,
                        barPercentage: 0.70,
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Month'
                        },
                        gridLines: false,
                        ticks: {
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        },
                        gridLines: {
                            drawBorder: false,
                            offsetGridLines: false,
                            drawTicks: false,
                            borderDash: [3, 4],
                            zeroLineWidth: 1,
                            zeroLineBorderDash: [3, 4]
                        },
                        ticks: {
                            max: 80,
                            stepSize: 20,
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }]
                }
            }
        });
        }
    }
    $(() => { DashboardECommerce.init(); });
</script>

}