@model BarBeeOrder.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CategoryId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Hoạt động:</td>
                        <td>
                            @if (Model.Published)
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" id="switch-4" disabled="" checked="">
                                        <label for="switch-4"></label>
                                    </div>
                                    
                                </div>
                            }
                            else
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" id="switch-4" disabled="">
                                        <label for="switch-4"></label>
                                    </div>
                                    
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

