@model BarBeeOrder.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Quản lí sản phẩm</a>
            <span class="breadcrumb-item active">Xác nhận xóa sản phẩm </span>
        </nav>
    </div>
</div>
<h3>Bạn chắc chắn muốn xóa sản phẩm chứ?</h3>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Tittle" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDescription</td>
                    </tr>
                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Category.Name</td>
                    </tr>
                    <tr>
                        <td>Xóa sản phẩm</td>
                        <td>
                            <form asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@Model.ProductId">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

